
<div class = "container">
   <div class = "post-user">
      <%= link_to public_user_path(@user.id) do %>
      <%= image_tag @user.get_profile_image(70,70),class: "rounded-circle" %>
        <%= @user.user_name %>
      <% end %>
   </div>
    <div class = "row slick">
      <% @post.images.each do |post| %>
      <div class = "slick-item">  
        <%= image_tag post, size:"400x400", id:"image" %>
      </div>
      <% end %>
    
    </div>

  <div class ="row">
    <div class = "col-4">
      <%= @post.created_at.strftime('%Y/%m/%d') %>
    </div>
    <div class ="col-4">  
      <% if @post.favorited_by?(current_user) %>
         <%= link_to  public_post_favorites_path(@post), method: :delete do %>
           ♥<%= @post.favorites.count %>いいね
         <% end %>    
      <% else %>
         <%= link_to public_post_favorites_path(@post), method: :post do %>
           ♡<%= @post.favorites.count %>いいね
         <% end %>   
      <% end %>     
    </div>
    <div class = "col-4">  
      <% if @post.user == current_user %>
        <%= link_to "投稿を削除する", public_post_path(@post.id),method: :delete,
        data: { confirm: '本当に削除して良いですか?'} %>
      <% end %> 
    </div>
  </div>
   
   <div class = "distance">
     今回の走行距離
     <%= @post.distance %>km
   </div>
 
  <div class ="caption">
    <%= @post.caption %>
  </div>
 
  <div id='map'></div>
  <style>
  #map {
    height: 300px;
    width: 1200px;
  }
   @media screen and (max-width: 480px) {
    #map {
      height: 200px;
      width: 100%;
    }
    }
  </style>

 
 <div class = "post-comment">
  コメント件数:<%= @post.comments.count %>
 </div>

 <% @post.comments.each do |comment| %>
   <div style="display: flex; margin: 10px 0px;">
     <%= link_to public_user_path(comment.user.id) do %>
       <%= image_tag comment.user.get_profile_image(70,70) ,class: "rounded-circle"%>
     <% end %>
       <div style="margin-left: 10px;">
        <p class="font-weight-bold"><%= comment.user.user_name %></p>
         <%= comment.content %>
         <%= comment.created_at.strftime('%Y/%m/%d') %> 
       <% if comment.written_by?(current_user) %>
          <%= link_to "削除", public_post_comment_path(@post.id,comment.id), method: :delete,
          data: { confirm: '本当に削除して良いですか?'} %>
       <% end %>
       </div>
   </div>
 <% end %>



 <div>
    <%= form_with model: [@post,@comment],url:public_post_comments_path(@post.id) do |f| %>
      <%= f.text_area :content, rows:'5', style: "width: 80%;",placeholder:"コメントをここに" %><br>
      <%= f.submit"送信する" %>
    <% end %> 
 </div>

<script>
  let map
  console.log('map', map)
  
  function initMap(){
    geocoder = new google.maps.Geocoder()
    var test ={lat: <%= @post.latitude %>, lng: <%= @post.longitude %>};
    map = new google.maps.Map(document.getElementById('map'), {
      center: test,
      zoom: 15,
    });

    
    var infoWindow = new google.maps.InfoWindow({
      position: map.getCenter(),
      
    });
  
    marker = new google.maps.Marker({
      position: test,
      map: map,
      
    });
    marker.addListener('click', () => {
      infoWindow.open(map);
    });
  }
  
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHKL2wSrRXoEwV5byo5P16cHRVDm__8Ok&callback=initMap" async defer></script>

<script>
$(function() {
    $('.slick').slick({
        dots: true,
    });
});
</script>