<h1>投稿詳細</h1>
<div class = "container">
   
    <div class = "row slick">
      <% @post.images.each do |post| %>
      <div class = "slick-item">  
      <%= image_tag post, size:"200x200" %>
      </div>
      <% end %>
    
    </div>

  <%= @post.created_at.strftime('%Y/%m/%d') %> 
  <div class ="row">
  <div class = "text-left">
      <%= link_to public_user_path(@user.id) do %>
      <%= image_tag @user.get_profile_image(100,100) %>
        <%= @user.user_name %>
      <% end %>
  </div>
  
  <div class = "col-3">  
    <% if @post.user == current_user %>
     <%= link_to "削除", public_post_path(@post.id),method: :delete,
     data: { confirm: '本当に削除して良いですか?'} %>
    <% end %> 
  </div>
  <div class ="col-3">  
    <% if @post.favorited_by?(current_user) %>
       <%= link_to  public_post_favorites_path(@post), method: :delete do %>
         ♥<%= @post.favorites.count %>いいね
       <% end %>    
    <% else %>
       <%= link_to public_post_favorites_path(@post), method: :post do %>
         ♡<%= @post.favorites.count %>いいね
       <% end %>   
    <% end %>     
  </div>
</div>
 
 <div class ="row">
    <%= @post.caption %>
 </div>
 
 <div id='map'></div>
 <style>
#map {
  height: 300px;
  width: 400px;
}
</style>
 
 <div class = "row">
  コメント件数:<%= @post.comments.count %>
    <% @post.comments.each do |comment| %>
     
      <%= comment.user.user_name %>
      <%= comment.content %>
    <% end %>
 </div>
 <div>
    <%= form_with model: [@post,@comment],url:public_post_comments_path(@post.id) do |f| %>
     <%= f.text_area :content, rows:'5', placeholder:"コメントをここに" %>
     <%= f.submit"送信する" %>
    <% end %> 
</div>

<script>
  let map
  console.log('map', map)
  
  function initMap(){
    geocoder = new google.maps.Geocoder()
    var test ={lat: <%= @post.latitude %>, lng: <%= @post.longitude %>};
    map = new google.maps.Map(document.getElementById('map'), {
      center: test,
      zoom: 15,
    });

    
    var infoWindow = new google.maps.InfoWindow({
      position: map.getCenter(),
      
    });
  
    marker = new google.maps.Marker({
      position: test,
      map: map,
      
    });
    marker.addListener('click', () => {
      infoWindow.open(map);
    });
  }
  
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHKL2wSrRXoEwV5byo5P16cHRVDm__8Ok&callback=initMap" async defer></script>