<div id="about">
    <h1>使い方ガイドページ</h1>
      <h2>1 Motogramの特徴</h2>
        <h3>ツーリングの場所の表示・走行距離の表示</h3>
          <div class= "post_show introduction">
              後述の投稿一覧から投稿画像を選ぶと、投稿の詳細画面に遷移されます。
              投稿詳細画面では、ツーリング先の場所をマップ上で表示されます。
              また、投稿したユーザーが一度のツーリングでどのくらい走ったのか走行距離が確認できます。
              <%= image_tag asset_path('post_show.png') %>
          </div>
            
            <br>
        <h3>愛車情報・合計走行距離の表示</h3>
          <div class = "user_show introduction">
              ユーザーのプロフィール画面を選ぶと、ユーザーの詳細画面に遷移されます<br>
              ユーザー詳細画面では、愛車情報（排気量・車種）とこれまでのツーリングで
              どのくらい乗ったのかの走行距離の合計が確認できます。<br>
              愛車情報、プロフィール画面、自己紹介文は、下記の⑧のユーザー編集画面で編集することができます。
          </div>
             <%= image_tag asset_path('user_show.png') %>
      <h2>2 各画面の機能</h2>
          <%= image_tag asset_path('function_introduction.png') %>
              各画面の機能を簡単に紹介します。<br>
        <b>① 使い方ガイド</b>
              …本ページの画面です。使い方がわからない時は、ここを見ましょう。<br>
           <br>
        <b>② 新規投稿</b>
             …新しく投稿するための画面です。投稿本文に自由に文章を記載することができます。<br>
            「#安住神社」「#月待ちの滝」など投稿に関連したキーワードに#（ハッシュタグ）を付けることで、
             でより多くのユーザーに投稿を見てもらえるようになり、
             「いいね」がつきやすくなります。<br>
             投稿を非公開に設定すると、他のユーザーには見られません。ユーザー詳細画面から非公開の投稿を
             自分だけが確認できます。<br>
             投稿できる画像は5枚までとなります。また、投稿後に投稿を編集することができません。
             写真を間違えて投稿してしまった、本文を修正したいという場合は、ユーザー詳細画面から投稿を選び、
             投稿を削除し、新たに投稿するかたちになります。
             <%= image_tag asset_path('post_new.png') %><br>
           <br>
        <b>③ フォローユーザー投稿一覧</b>
             …自分がフォローしたユーザーの投稿が一覧としてでてくる画面です。<br>
          <br>
        <b>④ いいね投稿一覧</b>
             …自分がいいねを押した投稿が一覧としてでてくる画面です。次に行きたいツーリング場所をすぐに確認できます。<br>
          <br>
        <b>⑤ ログアウト</b>
             …ログイン状態からログアウトできます。ログアウト後はトップ画面に遷移されます。<br>
          <br>  
        <b>⑥ ホーム</b>
             …全てのユーザーの投稿が表示されます。上から順にの最新投稿が表示され下にスクロールすると、過去の投稿を確認できます。<br>
          <br>
        <b>⑦ 検索</b>
             …ユーザーと投稿をキーワードから探せる画面です。選択タブからユーザーと投稿を切り替えて、検索ができます。<br>
             <%= image_tag asset_path('search.png') %><br>
          <br>
        <b>⑧ 通知</b>
             …他のユーザーからいいね・投稿に対するコメント・フォローの通知が確認できる画面です。<br> 
             <%= image_tag asset_path('notification.png') %><br>
         
        <b>⑨ ユーザー編集</b>
             …ユーザーに関する情報を確認・編集することができる画面です。⑧のアイコンをクリックすると、
             自分のユーザー詳細画面に遷移されます。「編集する」をクリックすると、プロフィール編集画面へ。
            「個人情報を編集する」をクリックすると、個人情報編集画面へと遷移されます。<br>
             <%= image_tag asset_path('user_edit.png') %>
             <%= image_tag asset_path('profile_edit.png') %>
             <%= image_tag asset_path('user_information.png') %>
</div>

        <span id="back">
          <a href="#">
             <%= image_tag asset_path('arrow.png') %>
          </a>
        </span>

        <script src="js/jquery.min.js"></script>
        <script src="js/script.js"></script>