<div class="container">
  <div class="row">
    
      <table class="table  table-inverse">
       <th>管理者ユーザー一覧</th>
       <tr>
         <td>ユーザーID</td>
          <td>ユーザーネーム</td>
          <td>氏名</td>
          <td>カナ</td>
          <td>メールアドレス</td> 
          <td>ステータス</td>
       </tr>

      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td>
            <%= link_to admin_user_path(user.id) do %> 
            <%= user.user_name %>
            <% end %>
          </td>
          <td><%= user.last_name %><%= user.first_name %></td>
          <td><%= user.last_name_kana %><%= user.first_name_kana %></td>
          <td><%= user.email %></td>
        　<% if user.is_active==true %>
          　<td>有効</td>
        　<% else %>
          　<td>退会</td>
        </tr>
        　<% end %>
      <% end %>
     </table>
  </div>  
</div>