<div>
    <%= @user.user_name %>
    <%= @user.introduction %>
    <%= image_tag @user.get_profile_image(100,100) %>
    <% if current_user!= @user %>
      <% if @user.followed_by?(current_user) %>
        <%= link_to "フォロー済み", public_user_relationships_path(@user.id), method: :delete %>
      <% else %>
        <%= link_to "フォローする",  public_user_relationships_path(@user.id), method: :post %>
      <% end %>    
    <% end %>
</div>

<% @post.each do |post| %>
<div>
    <%= link_to public_user_path(post.id) do %>
        <%= image_tag post.get_image(100,100) %>
    <% end %>
    <%= post.caption %>
</div>
<% end %>


 