
    <div class =  "user_name text-left">
      <h1 class="h3"><%= @user.user_name %></h1>
    </div>
    <!-- PC Profile -->
    <div id="pcProfile" class="row" %> 
       <div class = "col-3" >
          <%= image_tag @user.get_profile_image(100,100) %>
       </div>
       <div class ="col-2">
         <div class = "posts text-center"> 
          投稿数
         </div>  
          <div class = "text-center">
          <%= @posts.count %>
          </div>
       </div>
       
       <div class = "col-2" >
          <div class = "follow text-center">
            フォロー数
          </div>
          <div class ="text-center">    
            <%= @user.active_relationships.count %>
          </div>  
       </div>
      
      <div class = "col-2">
        <div class = "followed text-center">
            フォロワー数
        </div>    
        <div class = "text-center">    
            <%= @user.passive_relationships.count %>
        </div>
      </div>
      
      <div class = "col-2">
        <div class = "total_distance text-center">
          走行距離合計
        </div>
        <div class = "text-center">
          <%= @user.total_distance %>km
        </div>
      </div>  
        
        <% if current_user!= @user %>
          <% if @user.followed_by?(current_user) %>
            <%= link_to "フォロー済み", public_user_relationships_path(@user.id), method: :delete %>
          <% else %>
            <%= link_to "フォローする",  public_user_relationships_path(@user.id), method: :post %>
          <% end %>    
        <% end %>
        
        <% if current_user == @user %>
          <%= link_to "編集する", profile_public_user_path(current_user.id) %>
        <% else %>
        <% end %>
        
    </div>
    <!-- PC Profile -->
    <!-- SP Profile -->
    <div id="spProfile">
      <div>
        <%= image_tag @user.get_profile_image(400,400), class: "w-100" %>
      </div>
      <dl>
        <dt>投稿数</dt>
        <dd><%= @posts.count %></dd>
        <dt>フォロー数</dt>
        <dd><%= @user.active_relationships.count %></dd>
        <dt>フォロワー数</dt>
        <dd><%= @user.passive_relationships.count %></dd>
        <dt>走行距離合計</dt>
        <dd><%= @user.total_distance %>km</dd>
      </dl>
    
    
    <% if current_user!= @user %>
          <% if @user.followed_by?(current_user) %>
            <%= link_to "フォロー済み", public_user_relationships_path(@user.id), method: :delete %>
          <% else %>
            <%= link_to "フォローする",  public_user_relationships_path(@user.id), method: :post %>
          <% end %>    
        <% end %>
        
        <% if current_user == @user %>
          <%= link_to "編集する", profile_public_user_path(current_user.id) %>
        <% else %>
        <% end %>
    </div>
    <!-- SP Profile -->
    
     <div class = "introduction">
      <%= @user.introduction %>
    </div>
    <div class = "bike_information">
      【愛車情報】
      <div class = "model">
        車種：<%= @user.model %>
      </div>
      <div class = "displacement">
        排気量：<%= @user.displacement_i18n %>
      </div>
    </div>
    
    
    <div class ="posts d-flex flex-row flex-wrap">
        <% @posts.each do |post| %>
          <% post.images.first(1).each do |post_image| %>
            <%= link_to public_post_path(post.id) do %>
              <%= image_tag post_image,size:"200x200" %>
            <% end %>
          <% end %>
        <% end %>
    </div>



 