<!DOCTYPE html>
<html>
  <head>
    <title>Motogram</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar" navbar-expand-lg navbar-light>
        <% if user_signed_in? %>
          <%= link_to "新着",public_posts_path %>
          <%= link_to "フォロー" %>
          <%= link_to "お気に入り", favorites_public_user_path(current_user.id) %>
          <%= link_to "新規投稿",new_public_post_path %>
        <% elsif admin_signed_in?%>
          <%= link_to "ユーザー一覧", admin_users_path %>
          <%= link_to "ユーザー検索" %>
          <%= link_to "投稿一覧", admin_posts_path %>
        <% else %>
        <% end %>
      </nav>
    </header>
  
    <%= yield %>
    <footer>
    <% if user_signed_in? %>  
        <%= link_to "新着一覧(ホーム)",public_posts_path %>
        <%= link_to "検索",public_search_path %>
        <%= link_to "通知" , public_notifications_path %>
        <%= link_to "設定", public_user_path(current_user.id) %>
    <% else %>
    <% end %>
    
    </footer>
  </body>
</html>
